{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'body'}}
<section class="container">
  {{include '../_partials/settings-nav.html'}}
  <div class="col-md-5">
    <form id="profile_form">
      {{ if user.duty == 1 }}
      <div class="form-group">
        <label>教工号：</label>
        <span class="form-control-static">0{{ user.num}}</span>
      </div>
      {{ else }}
      <div class="form-group">
        <label>学号：</label>
        <span class="form-control-static">0{{ user.num}}</span>
      </div>
      {{ /if }}
      <div class="form-group">
        <label for="exampleInputPassword1">姓名：</label>
        <input type="text" class="form-control" name="name" value="{{user.name}}" placeholder="请输入姓名">
      </div>
      {{ if user.class }}
      <div class="form-group">
        <label for="exampleInputPassword1">班级：</label>
        <input type="text" class="form-control" name="class" value="{{ user.class }}" placeholder="请输入班级">
      </div>
      {{ /if }}
      {{ if user.book }}
      <div class="form-group">
        <label for="exampleInputPassword1">负责科目：</label>
        <input type="text" class="form-control" name="book" value="{{ user.book }}" placeholder="请输入班级">
      </div>
      {{ /if }}
      <div class="form-group">
        <label for="exampleInputPassword1">性别</label>
        {{ if user.sex }}
        <div>
          <label class="radio-inline">
            <input type="radio" name="sex" value="1" checked> 男
          </label>
          <label class="radio-inline">
            <input type="radio" name="sex" value="0"> 女
          </label>
        </div>
        {{ else }}
        <div>
          <label class="radio-inline">
            <input type="radio" name="sex" value="1"> 男
          </label>
          <label class="radio-inline">
            <input type="radio" name="sex" value="0" checked> 女
          </label>
        </div>
        {{ /if }}
      </div>
      <div class="form-group">
        <label for="phone">手机号：</label>
        <input type="text" maxlength="11" class="form-control" name="phone" value="{{user.phone}}" placeholder="请输入手机号">
      </div>
      <button type="submit" class="btn btn-success">保存</button>
    </form>
  </div>
  <!-- <div class="col-md-2 profile-avatar">
    <dl>
      <dt>头像设置</dt>
      <dd>
        <img class="avatar" width="150" height="150" src="../public/img/avatar-max-img.png" alt="">
        <div>
          <button class="btn btn-default" href="">Upload new picture</button>
        </div>
      </dd>
    </dl>
  </div> -->
</section>
{{/block}}
{{block 'script'}}
<script>
$('#profile_form').on('submit', function(e){
  e.preventDefault()
  var formData = $(this).serialize()
  $.ajax({
    url: '/profile',
      type: 'post',
      data: formData,
      dataType: 'json',
      success: function (data){
        var err_code = data.err_code
        if(err_code === 0){
          window.alert("信息修改成功!")
          window.location.replace(window.location.href)
        }else if(err_code === 500){
          window.alert('服务器忙，请稍后重试!')
        }
      }
  })
})
</script>
{{/block}}