{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'head'}}
<!-- <link rel="stylesheet" href="/public/css/markdown-github.css"> -->
<link rel="stylesheet" href="/public/css/new.css">
<link rel="stylesheet" href="/public/lib/qiniu/css/highlight.css">
<link rel="stylesheet" href="/public/lib/qiniu/css/main.css">
<style>
  .panel .panel-heading .action i {
    margin-right: 10px;
  }
  .group{
    border: 1px solid #ccc;
    padding: 2px 8px;
    margin-right: 10px;
    border-radius: 5px;
  }
  /* .glyphicon{
    color: darkorange
  } */
 .time{
   font-size: 12px;
   margin-left: 15px;
 }
 .class-img-con::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  background: rgba(0,0,0,0.41);
  background-image: url(../../public/img/index_creat_icon_end.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
  }
</style>
{{/block}}

{{block 'body'}}
<div class="mask" style="height: calc(120vh); position: fixed;top: 0;"></div>
<section class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <article class="markdown-body">
        <div class="question">
          {{ if result.end == 1 }}
          <div class="media-left class-img-con">
            {{if result.file_name}}
            <img width="80" height="80" class="media-object" src="../public/img/file.png" alt="...">
            {{ else}}
            <img width="80" height="80" class="media-object" src="../public/img/info.png" alt="...">
            {{/if}}
          </div>
          {{else}}
          <div class="media-left">
            {{if result.file_name}}
            <img width="80" height="80" class="media-object" src="../public/img/file.png" alt="...">
            {{ else}}
            <img width="80" height="80" class="media-object" src="../public/img/info.png" alt="...">
            {{/if}}
          </div>
          {{/if}}
          <div class="media-body">
            <h4 class="media-heading" style="color: black">
              <!-- <span class="name">董梁</span> -->
              <!-- <a href="/topics/123">第一章</a> -->
              <span>{{ result.topic }}</span>
            </h4>
            <p>
              {{ if result.is_group }}
              <span class="group">已分组</span>
              {{ else }}
              <span class="group">未分组</span>
              {{ /if }}
               |  &nbsp;&nbsp;  全部回答:    
              <span class="reply">{{length}}</span>
            </p>
            <div>
              <p>{{ result.content }}</p>
            </div>
          </div>
          <hr>
        </div>
        <!-- <p>{{ result.id }}</p>
          
      <!-- <h1 id="_1"><a name="user-content-_1" href="#_1" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>测试</h1>
      <blockquote>
        <p>杨柳青青江水平</p>
      </blockquote>
      <h2 id="_2"><a name="user-content-_2" href="#_2" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>起步</h2>
      <ul>
        <li>123</li>
        <li>456</li>
        <li>789</li>
      </ul>
      <h3 id="_3"><a name="user-content-_3" href="#_3" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>哈哈哈</h3>
      <p>然后这里就开始 <code>hello world</code> ，就用可以了。</p>
      <p>下面是一段代码：</p>
      <pre><code class="javascript">var foo = 'bar'
  console.log(foo)
  </code></pre>
      <h3 id="_4"><a name="user-content-_4" href="#_4" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>嘿嘿</h3>
      <h3 id="_5"><a name="user-content-_5" href="#_5" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>呼呼</h3>
      <h2 id="_6"><a name="user-content-_6" href="#_6" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>是什么</h2>
      <h2 id="_7"><a name="user-content-_7" href="#_7" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>为什么</h2>
      <h2 id="_8"><a name="user-content-_8" href="#_8" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>怎么做</h2>
      <h2 id="_9"><a name="user-content-_9" href="#_9" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>哈哈哈</h2> -->
    </article>
      
<!-- 评论 -->
      <div id="put">
        {{ each data }}
          <div class="panel panel-default">
              <div class="panel-heading">
                <span>{{ $value.student_name}}</span> 
                <span class="time">{{ $value.time }}</span>
                {{if $value.group_id}}
                第<span>{{$value.group_id}}</span>组
                {{/if}}
                {{if $value.file_name}}
                <span class="action">
                  <a href="http://q57rsiym9.bkt.clouddn.com/{{ $value.file_name }}">
                    <i class="glyphicon glyphicon-download-alt pull-right"></i>
                  </a>
                </span>
                {{ /if }}
              </div>
              <div class="panel-body">
                {{ $value.content}}
              </div>
            </div>
            {{ /each}}
            <!-- <div class="panel panel-default">
              <div class="panel-heading">
                <span>lipengzhou</span> commented
                <span>24 minutes ago</span>
                <!-- <span class="action">
                  <a href="">
                    <i class="glyphicon glyphicon-thumbs-up pull-right">24</i>
                  </a>
                  <a href="">
                    <i class="glyphicon glyphicon-remove-circle pull-right"></i>
                  </a>
                  <a href="">
                    <i class="glyphicon glyphicon-remove-circle pull-right"></i>
                  </a>
                </span> -->
              <!-- </div>
              <div class="panel-body">
                评论测试
              </div>
            </div> --> 
      </div>
      {{ if result.end ==1 }}
        <!-- 表示课程结束 -->
        <div height="200px">
          <p>该课程已结束!</p>
        </div>
      {{else}}
        <!-- 回复-->
        {{ if user.duty === 2 }}
        <hr>
        <form>
          <div class="form-group">
            <label for="exampleInputPassword1">添加回复：</label>
            <textarea class="form-control" name="content" cols="10" rows="3"></textarea>
          </div>
          {{ if result.is_group }}
          <div class="form-group">
            <label for="group_id">所在的组：</label>
            <input type="number" name="group_id" min='1' max='10' value="1" placeholder='1'>
          </div>
          {{/if}}
          <div class="form-group">
            <span class="upload_file" style="cursor:pointer;">上传文件</span>
        </div>
          <button type="submit" id="show_btn" class="btn btn-success">回复</button>
        </form>
        {{ /if }}
      {{/if}}
    </div>
  </div>
  <!-- tips -->
  <div class="tips" style="position: fixed">
    <div style="margin-top: 20px;">
        <img class="delete_img" style="cursor:pointer;height:40px;width:40px;position:absolute;top:5px;right:10px;" src="../../public/img/delete.png"></div>
        <h2>文件上传</h2>
        <div style="text-align:left;margin-left:20px;">
        <p>1.上传作品时请使用压缩文件(ZIP/RAR/Z7)</p>
        <p>2.压缩文件大小不超过20MB</p>
        <p>3.文件命名请不要使用中文</p>
        <p>4.请在文件上传完成后再关闭网页，勿中途关闭</p>
        <p>5.请使用电脑上传作品</p>
    </div>

    <div style="margin-top: 30px;">
      <div class="">
    
    
        <input type="hidden" id="domain" value="http://7xl4c6.com1.z0.glb.clouddn.com/">
        <input type="hidden" id="uptoken_url" value="uptoken">
    
    
        <div id="container">
          <a class="btn btn-warning btn-lg " id="pickfiles" href="http://jssdk.demo.qiniu.io/#" style="position: relative; z-index: 1;">
            <i style="font-size: 12px;"class="glyphicon glyphicon-plus"></i>
            <span style="font-size:16px;">选择文件</span>
          </a>
          <div id="html5_1aj3rtennnga1n5h927gjn8343_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 0px; left: 0px; width: 171px; height: 46px; overflow: hidden; z-index: 0;">
            <input id="html5_1aj3rtennnga1n5h927gjn8343" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"
              multiple="" accept="">
          </div>
        </div>
    
        <div style="display:none;text-align:center;" id="success">
          <div class="alert-success">
            <span>文件上传完毕，谢谢合作!</span>
          </div>
        </div>
    
       
      </div>
    </div>
  </div>
</section>
<input type="text" id="hh">
{{/block}}
{{block 'script'}}
<script>
  //更新七牛云密钥
  //获取七牛的token
  var q_token = ''
  $.ajax({
    url: 'http://zzzia.net:8080/qiniu/',
    type: 'post',
    data: {
      'accessKey': 'T_22tq0Cj6E5MxfpMrdGezdCEVf3cb2sHh3fROmJ',
      'secretKey': 'jPMbUre4ePKefJdmiPHUcr11cxCnB62SnxcVxe28',
      'bucket': 'kxgl2333'
    },
    async: false,
    dataType: 'json',
    success: function (data) {
      q_token = data.token
    }
  })
//console.log(q_token)
</script>
<!-- <script type="text/javascript" src="../../public/lib/qiniu/js/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="../../public/lib/qiniu/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="/public/lib/qiniu/js/moxie.js"></script>
<script type="text/javascript" src="/public/lib/qiniu/js/plupload.dev.js"></script>
<!-- <script type="text/javascript" src="bower_components/plupload/js/plupload.full.min.js"></script> -->
<script type="text/javascript" src="/public/lib/qiniu/js/zh_CN.js"></script>
<script type="text/javascript" src="/public/lib/qiniu/js/ui.js"></script>
<script type="text/javascript" src="/public/lib/qiniu/js/qiniu.js"></script>
<script type="text/javascript" src="/public/lib/qiniu/js/highlight.js"></script>
<script type="text/javascript" src="/public/lib/qiniu/js/main.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
<script src="/public/lib/bootstrapvalidator/dist/js/bootstrapValidator.js"></script>

<script src="/public/lib/art-template/lib/template-web.js"></script>
<script src="/public/js/main.js"></script>
<script>
  //模板引擎的时间转换
  var time = document.getElementsByClassName('time')
  for(var i=0;i<time.length;i++){
    //console.log(time[i].innerHTML)
    time[i].innerHTML = formatDate(parseInt(time[i].innerHTML))
  }
  //处理文本框，mask的一些逻辑
  $('.upload_file').on('click', function(e){
    e.preventDefault()
    $('.tips').css('display','block')
    $('.mask').css('display', 'block')
  })
  $('.delete_img').on('click',function(e){
    e.preventDefault()
    $('.tips').css('display','none')
    $('.mask').css('display', 'none')
  })
  $(function () {
    $('form').bootstrapValidator({
      message: 'This value is not valid',
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        content: {
          validators: {
            notEmpty: {
              message: '内容不能为空'
            }
          }
        }
      }
    });
  });
</script>
<script>
  //post show
$('#hh').css('display','none')
$('#show_btn').on('click', function(e){
  e.preventDefault()
  var time = new Date().getTime()
  var content = $('textarea[name="content"]').val()
  // var num = '0'+{{user.num}}
  // var name = {{user.name}}
  var file_id = (window.location.href).split('=')
 // console.log(file_id[1])
  var fileUrl = $('#hh').val()
 // console.log(fileUrl)
  if(content ==""){
    window.alert('输入不能为空，请重新输入!')
    window.location.replace(window.location.href)
    return;
  }
  var group_id = $('input[name="group_id"]').val()
  if(group_id){
    group_id = parseInt(group_id)
  }else{
    group_id = 0
  }
  $.ajax({
    url:'/show',
    type:'post',
    data: {
      'id': time, 
      'content': content,     
      'time': time,
      'file_id': file_id[1],
      'file_name': fileUrl,
      'group_id': group_id
    },
    dataType: 'json',
    success: function(data){
      var err_code = data.err_code
      if(err_code == 0){
        window.alert('回复成功!')
        window.location.replace(window.location.href)
      }else if( err_code == 500){
        window.alert('服务器忙，请稍后重试!')
      }
    }
  })
})
</script>
<script>
  // console.log({{data}})
  // var file_id = (window.location.href).split('=')
  // $.ajax({
  //   url: '/put',
  //   type: 'get',
  //   data:{
  //     'file_id': file_id[1]
  //   },
  //   success: function(data){
  //     console.log(data)
  //   }
  // })
</script>
<script>
  
</script>
{{/block}}