{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'科协管理 - 首页'}}{{/block}}
{{ block 'head' }}
<link rel="stylesheet" href="../../public/css/new.css">
<link rel="stylesheet" href="../../node_modules/bootstrap-table/dist/bootstrap-table.css">
{{ /block }}

{{block 'body'}}
<section class="container">
  {{include '../_partials/human-nav.html'}}
  <div class="col-md-7">
    <div class="list">
      <table id="teacher_table" style="text-align: center;" class="table table-striped table-bordered table-hover">
        <!-- <thead style="color: #0087dc;">
          <tr>
            <th style="text-align: center">教工号</th>
            <th style="text-align: center">姓名</th>
            <th style="text-align: center">邮箱</th>
            <th style="text-align: center">电话</th>
            <th style="text-align: center">操作</th>
          </tr>
        </thead>
        <tbody style="text-align: center">
          {{ each result }}
          <tr>
            {{if $value.end == 1}}
            <td style="text-decoration: line-through;font-style:italic;">{{$value.num}}</td>
            <td style="text-decoration: line-through;font-style:italic;">{{$value.name}}</td>
            <td style="text-decoration: line-through;font-style:italic;">{{$value.email}}</td>
            <td style="text-decoration: line-through;font-style:italic;">{{$value.phone}}</td>
            {{else}}
            <td>{{$value.num}}</td>
            <td>{{$value.name}}</td>
            <td>{{$value.email}}</td>
            <td>{{$value.phone}}</td>
            {{/if}}
            <td>
              <a style="padding: 2px 6px;font-size: 12px;" class="btn btn-danger" href="javascript:del_btn('/teacher/del?num={{$value.num}}')">删除</a>
              {{if $value.end == 0}}
              <a style="padding: 2px 6px;font-size: 12px;"class="btn btn-warning" href="javascript:stop_btn('/teacher/stop?num={{$value.num}}')">停用</a>
              {{else}}
              <a style="padding: 2px 6px;font-size: 12px;"class="btn btn-success" href="javascript:use_btn('/teacher/use?num={{$value.num}}')">启用</a>
              {{/if}}
            </td>
          </tr>
          {{ /each }}
        </tbody> -->
      </table>
    </div>
  </div>
</section>
{{/block}}

{{block 'script'}}
<script src="../../public/lib/layer-v3.1.1/layer/layer.js"></script>
<script src="../../node_modules/bootstrap-table/dist/bootstrap-table.js"></script>
<script>
  //del
  function del_btn(url) {
    layer.confirm('确定删除该账户？', {
      btn: ['删除', '取消'] //按钮
    }, function () {
      layer.msg('删除成功', { icon: 1 });   //点击删除按钮，页面跳转
      self.location.href = url
    }, function () {
      layer.msg('取消', {});   // 点击取消按钮，弹出框消失，页面不跳转
    });
  }
  //stop
  function stop_btn(url) {
    layer.confirm('确定停用该账户？', {
      btn: ['确定', '取消'] //按钮
    }, function () {
      layer.msg('停用成功', { icon: 1 });   //点击删除按钮，页面跳转
      self.location.href = url
    }, function () {
      layer.msg('取消', {});   // 点击取消按钮，弹出框消失，页面不跳转
    });
  }
  //use
  function use_btn(url) {
    layer.confirm('确定启用该账户？', {
      btn: ['确定', '取消'] //按钮
    }, function () {
      layer.msg('启用成功', { icon: 1 });   //点击删除按钮，页面跳转
      self.location.href = url
    }, function () {
      layer.msg('取消', {});   // 点击取消按钮，弹出框消失，页面不跳转
    });
  }
</script>
<script>
  $('#teacher_table').bootstrapTable({
      url: '/teacher/list',
      method: 'GET',
      dataType: 'json',
      //搜索功能
      search: true,
      showSearchClearButton: true,// 清空搜索的 button
      responseHandler: function (res) {
        console.log(res)
        var data_info = res.rows
        $.each(data_info, function (row, el) {
          //  console.log(row)
          $.inArray(row)
        })
        return res;
      },
      columns: [
        {
          field: 'num',
          title: '教工',
          halign: "center",
          sortable: true
        },
        {
          field: 'name',
          title: '姓名',
          halign: "center"
        },
        {
          field: 'email',
          title: '邮箱',
          halign: "center",
        },
        {
          field: 'phone',
          title: '电话',
          halign: "center",
        },
        {
          field: 'operation',
          title: '操作',
          halign: "center",
          formatter: function (value, row, index) {
            // console.log(row)
            var end = row.end
            if (end) {
              return `<a style="padding: 2px 6px;font-size: 12px;"class="btn btn-danger" href="javascript:del_btn('/teacher/del?id=` + row.id + `&num=` + row.num + `')">删除</a><a style="padding: 2px 6px;font-size: 12px;"class="btn btn-success" href="javascript:use_btn('/teacher/use?id=` + row.id + `&num=` + row.num + `')">启用</a>`
            } else {
              return `<a style="padding: 2px 6px;font-size: 12px;"class="btn btn-danger" href="javascript:del_btn('/teacher/del?id=` + row.id + `&num=` + row.num + `')">删除</a><a style="padding: 2px 6px;font-size: 12px;"class="btn btn-warning" href="javascript:stop_btn('/teacher/stop?id=` + row.id + `&num=` + row.num + `')">停用</a>`
            }
            //return `<a style="padding: 2px 6px;font-size: 12px;"class="btn btn-danger" href="javascript:del_btn('/manger/del?id=`+row.id+`&num=`+row.num+`')">删除</a>`
            // return [
            //   '<button class="btn btn-danger btn-sm delete"><span>删除</span></button>'
            // ].join('')
          }
        }
      ]
    })
</script>
{{/block}}