<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{block 'title'}}默认标题{{/block}}</title>
  <link rel="shortcut icon " type="images/x-icon" href="../../public/img/favicon.ico">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <!-- <link rel="stylesheet" href="/public/lib/bootstrapvalidator/dist/css/bootstrapValidator.css"> -->
  {{block 'head'}}{{/block}}
</head>

<body>
  {{include '../_partials/header.html'}}
  {{block 'body'}}{{/block}}
  {{include '../_partials/footer.html'}}
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <!-- <script src="/public/lib/bootstrapvalidator/dist/js/bootstrapValidator.js"></script> -->
  {{block 'script'}}{{/block}}
</body>

</html>
