<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>科技协会管理系统</title>
  <link rel="shortcut icon " type="images/x-icon" href="../../public/img/favicon.ico">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/login.css">
  <link rel="stylesheet" href="../public/lib/bootstrapvalidator/dist/css/bootstrapValidator.css">
  <style>
  #label_checkbox{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: -20px;
  }
  </style>
</head>

<body>
  <div class="main">
    <div class="header">
      <a href="/">
        <img width="300px" src="/public/img/logo6.png" alt="">
      </a>
      <h1>用户注册</h1>
    </div>
    <form id="register_form">
      <div class="form-group">
        <label for="email">账号</label>
        <input type="text" class="form-control" name="num" placeholder="请输入账号" autofocus>
      </div>
      <div class="form-group">
        <label for="nickname">姓名</label>
        <input type="text" class="form-control" name="name" placeholder="请输入姓名">
      </div>
      <div class="form-group">
        <label for="password">密码</label>
        <input type="password" class="form-control" name="password" placeholder="请输入密码">
      </div>
      <div class="checkbox">
        <label id="label_checkbox">身份</label>
        <label>
          <input type="radio" name="duty" value=1>教师
        </label>
        <label>
          <input type="radio" name="duty" value=2 checked>学生
        </label>
      </div>
      <button id="btn_register" type="submit" class="btn btn-success btn-block">注册</button>
    </form>
    <div class="message">
      <p>已有账号? <a href="/login">点击登录</a>.</p>
    </div>
  </div>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="../public/lib/bootstrapvalidator/dist/js/bootstrapValidator.js"></script>
  <script>
  //动态处理密码是否为空
  $(function () {
    $('form').bootstrapValidator({
      message: 'This value is not valid',
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        num: {
          validators: {
            notEmpty: {
              message: '账号不能为空'
            }
          }
        },
        name: {
          validators: {
            notEmpty: {
              message: '姓名不能为空'
            }
          }
        },
        password: {
          validators: {
            notEmpty: {
              message: '密码不能为空'
            }
          }
        }
      }
    });
  });
  </script>
  <script>
    $('#btn_register').on('click', function (e) {
      console.log(111)
      e.preventDefault()
      var formData = $(this).serialize()
      var name =  $('input[name="name"]').val()
      var num = $('input[name="num"]').val()
      var password = $('input[name="password"]').val()
      var duty = $('input[name="duty"]:checked').val()
      $.ajax({
        url: '/register',
        type: 'post',
        data: {
          'name': name,
          'num': num,
          'password': password,
          'duty': duty
        },
        dataType: 'json',
        success: function (data) {
          var err_code = data.err_code
          if (err_code === 0) {
            // window.alert('注册成功！')
            // 服务端重定向针对异步请求无效
            window.location.href = '/'
          } else if (err_code === 1) {
            window.alert('账号已存在！')
          }else if (err_code === 500) {
            window.alert('服务器忙，请稍后重试！')
          }
        }
      })
    })
  </script>
  <!-- <script>
  $('#register_form').on('submit', function (e) {
      console.log(111)
      e.preventDefault()
      var formData = $(this).serialize()
      $.ajax({
        url: '/register',
        type: 'post',
        data: formData,
        dataType: 'json',
        success: function (data) {
          var err_code = data.err_code
          if (err_code === 0) {
            // window.alert('注册成功！')
            // 服务端重定向针对异步请求无效
            window.location.href = '/'
          } else if (err_code === 1) {
            window.alert('账号已存在！')
          }else if (err_code === 500) {
            window.alert('服务器忙，请稍后重试！')
          }
        }
      })
    })
  </script> -->
</body>

</html>
