  /* body{background-color: #ccc;} */
  .course{
    width: 1000px;
    margin: 10px auto;
  }
  .course_list{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    list-style:none;
  }
  .course_item{
    width: 220px;
    height: 300px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 6px 6px 8px 8px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
    margin: 10px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  .course_item:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.16);
  }


  .course_img{
    position: relative;
    width: 220px;
    height: 220px;
    overflow: hidden;
  }
  .course_img > img{
    width: 100%;
    height: 100%;
  }
  .course_img :hover{
    animation: pic 4s linear forwards;
    animation-play-state: running;
  }
  @keyframes pic {
    0% { 
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.2, 1.2);
    }
}
  .course_info{
    position: relative;
    font-family: MicrosoftYaHei;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .info_teacher{
        /* margin-left: 76px; */
        font-size: 15px;
    color: #666666;
    margin-top: 11px;
    margin-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    padding-right: 10px;
  }
  .info_name{
    height: 20px;
    font-size: 17px;
    color: #333333;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    line-height: 18px;
    position: absolute;
    top: 11px;
    margin-left: 50px;
  }
  .info_class{
    color: #666666;
  }
  .class_set{
    margin-top: 5px;
  }
  .class_del{
    margin-top: 5px;
    color: #00BBDD;
    margin-left: 10px;
  }
  .class_end{
        /* margin-top: -52px; */
    /* margin-left: 153px; */
    color: #00BBDD;
    /* position: absolute; */
    bottom: 21px;
    float: right;
    padding-right: 10px;
  }
  .info_target{
    margin-left: auto;
    color: #00BBDD;
    width: 50px;
    position: relative;
    margin-right: 5px;
    margin-top: -25px;
  }
  /* #new_course{
    width: 400px;
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    height: 280px;
    z-index: 4;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -140px;
    padding: 10px;
    border-radius: 10px;
    display: none;
  } */
  /* #add_course{
    width: 400px;
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    height: 210px;
    z-index: 4;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -105px;
    padding: 10px;
    border-radius: 10px;
    display: none;
  } */
  /* .mask{
    width: 100%;
    height: 100%;
    background-color: #ccc;
    z-index: 1;
    opacity: 0.4;
    display: none;
    position: absolute;
    top: 0px;
  } */
  .class-img-con::before {
    content: '';
    position: absolute;
    width: 220px;
    height: 220px;
    background: rgba(0,0,0,0.41);
    background-image: url(../img/index_creat_icon_end.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px 100px;
}