 .upload_file{
    display: block;
    width: 120px;
    height: 35px;
    color: #fff;
    background: #48D1CC;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
  }
  .tips{
    background: #fff;
    width: 500px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #ccc;
    display: none;
    margin-left: -250px;
    margin-top: -160px;
    z-index: 3;
    border-radius: 10px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
  }
  /* .fadewq {
    opacity: 0;
    .transition(opacity .15s linear);
    &.in {
      opacity: 1;
    }
  } */
  .tips, h4{
    /* text-align: center; */
    /* font-family: inherit;
    font-weight: 500;
    color: #333;
    font-size: 18px;
    margin: 0;
    line-height: 1.42857143; */
  }
  .mask{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
    display: none;
    position: absolute;
    top: 0px;
  }