#res-list-box {
    padding: 0 20px 30px;
}
.res-row-box {
  margin-bottom: 30px;
}
.res-row-title {
  background:#F0F0F0;
  height:30px;
  line-height:30px;
  padding:0 20px;
  color:#333;
}
.res-row-title .slidedown-button {
  float: right;
  font-size: 16px;
  margin-top: 6px;
  color: #0BD;
  cursor: pointer;
}
#class_table{
  border-left: 0;
  border-right: 0;
}