{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'科协管理 - 首页'}}{{/block}}

{{block 'body'}}
<section class="container">
  {{include '../_partials/controllers-nav.html'}}
  <div class="col-md-7">
    {{if result.length == 0}}
      <h4>当前课程：{{data[0].course_name}}</h4>
      <p>课程ID:{{data[0].id}}</p>
      <hr>
      <div>
        <p style="margin-left: 150px;">当前没有学生加入课程!</p>
      </div>
    {{ else }}
    <div class="info">
      <h4>当前课程：{{data[0].course_name}}</h4>
      <p>课程ID: {{data[0].id}}</p>
      <hr>
    </div>
    <div class="list">
      <table id="class_table" class="table table-striped table-bordered table-hover">
        <thead style="color: #0087dc;">
          <tr>
            <th style="text-align: center">学号</th>
            <th style="text-align: center">姓名</th>
            <th style="text-align: center">班级</th>
          </tr>
        </thead>
        <tbody style="text-align: center">
          {{ each result }}
          <tr>
            <td>{{'0'+$value.num}}</td>
            <td>{{$value.name}}</td>
            <td>{{$value.class}}</td>
          </tr>
          {{ /each }}
        </tbody>
      </table>
    </div>
      <a href="/choice" class="btn btn-success"><i style="font-size: 12px;margin-right: 5px;" class="glyphicon glyphicon-link"></i>会话</a>
      {{ if user.duty == 1 }}
      <button id="btn" class="btn btn-success"><i style="font-size: 12px;margin-right: 5px;" class="glyphicon glyphicon-export"></i>导出</button>
      {{ /if }}
    {{/if}}
  </div>
</section>

<!-- 导出学生信息模态框 -->
<div class="modal fade" id="export_modal" table-index="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;
        </button>
        <h4 class="modal-title" id="myModalLabel">导出班级信息</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3 col-sm-3" style="text-align: center;">
            <img src="../../public/img/warning-icon.png" alt="" style="width: 70px; height: 70px; margin-top: 20px;">
          </div>
          <div class="col-md-8 col-sm-8">
            <h3>是否确认导出班级信息</h3>
            <p>(注意：请确定要导出的班级信息，导出的内容为当前列表的搜索结果)</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">
          <span>取消</span>
        </button>
        <button class="btn btn-success" type="button" id="classtable_download">
          <span>确认下载</span>
        </button>
      </div>
    </div>
  </div>
</div>
{{/block}}
{{block 'script'}}
<script src="../../public/lib/jquery-table2excel/dist/jquery.table2excel.js"></script>
<script>

  $("#btn").click(function(){
    $('#export_modal').modal("show");
  });
  $('#classtable_download').click(function(){
    $("#class_table").table2excel({
      exclude: ".noExl",
      name: "Excel Document Name",
      filename: "classFile",
      exclude_img: true,
      exclude_links: true,
      exclude_inputs: true
    });
  })
</script>
{{/block}}