{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'科协管理 - 首页'}}{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="../../public/css/course.css">
{{/block}}
{{block 'body'}}
<section class="container">
  <div class="course">
    <h4>我的课程：</h4>
    <ul class="course_list">
      {{ each result }} 
        <li class="course_item">
          <a href="/class?id={{$value.id}}" style="text-decoration: none;" onclick="return false;">
             {{ if $value.end ==1}}
            <div class="course_img class-img-con">
              <img src="../../public/img/course.png" alt="">
            </div>
            {{else}}
            <div class="course_img">
              <img src="../../public/img/course.png" alt="">
            </div>
            {{/if}}
            <div class="course_info">
              <span class="info_teacher">{{ $value.name }}</span>
              <span class="info_name">{{ $value.course_name}}</span>
              <span class="info_class">{{ $value.info}}&nbsp;</span>
              <span class="info_target">进入
                <i class="glyphicon glyphicon-menu-right"></i>
              </span>
            </div>
          </a>
          {{ if user.duty == 1}}
          <div class="class_set">
            <a class="class_del" href="/course/delete?id={{$value.id}}">删除课程</a>
            <a class="class_end" href="/course/end?id={{$value.id}}" >结束课程</a>
          </div>
          {{/if}}
        </li>
      {{ /each }}
      <!-- <li class="course_item">
            <div class="course_img">
              <img src="../../public/img/course.png" alt="">
            </div>
            <div class="course_info">
              <span class="info_teacher">董梁</span>
              <span class="info_name">verilog</span>
              <span class="info_target">进入
                <i class="glyphicon glyphicon-menu-right"></i>
              </span>
            </div>
          </li>
          <li class="course_item">
            <div class="course_img">
              <img src="../../public/img/course.png" alt="">
            </div>
            <div class="course_info">
              <span class="info_teacher">董梁</span>
              <span class="info_name">verilog</span>
              <span class="info_target">进入
                <i class="glyphicon glyphicon-menu-right"></i>
              </span>
            </div>
          </li> -->
    </ul>
    {{ if user.duty == 1}}
    <button type="submit" class="course_btn btn btn-primary"style="float: right;">创建课程</button>
    {{/if}}
    {{ if user.duty == 2}}
    <button type="submit" class="student_add btn btn-primary"style="float: right;">添加课程</button>
    {{/if}}
  </div>

</section>

<!-- 老师创建课程表单 -->
<div class="modal fade" id="new_course" table-index="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;
        </button>
        <h4 class="modal-title" id="myModalLabel">创建课程</h4>
      </div>
      <div class="modal-body">
        <form id="course_form">
            <div class="form-group">
              <label for="course_name">课程名称：</label>
              <input type="text" class="form-control" name="course_name" value="" placeholder="请输入课程名称" autofocus>
            </div>
            <div class="form-group">
              <label for="course_info">课程信息：</label>
              <input type="text" class="form-control" name="course_info" value="" placeholder="不得超过15个字" max='15'>
            </div>
            <!-- <button type="submit" class="btn btn-success">创建</button> -->
          </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">
          <span>取消</span>
        </button>
        <button class="btn btn-success" type="submit" id="course_table">
          <span>确认创建</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 学生添加课程表单 -->
<div class="modal fade" id="add_course" table-index="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;
        </button>
        <h4 class="modal-title" id="myModalLabel">添加课程</h4>
      </div>
      <div class="modal-body">
        <form id="course_stu">
            <!-- <div class="form-group">
              <label for="course_name">课程名称：</label>
              <input type="text" class="form-control" name="course_name" value="" placeholder="请输入课程名称" autofocus>
            </div> -->
            <div class="form-group">
              <label for="course_name">课程ID：</label>
              <input type="text" class="form-control" name="course_id" value="" placeholder="请输入课程ID" autofocus>
            </div>
            <!-- <button type="submit" class="btn btn-success">添加</button> -->
          </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">
          <span>取消</span>
        </button>
        <button class="btn btn-success" type="submit" id="course_addtable">
          <span>确认添加</span>
        </button>
      </div>
    </div>
  </div>
</div>
{{/block}}
{{block 'script'}}
<script>
  //delete
  $('.class_del').on('click', function(){
  var a = confirm("确定删除？")
  var obj = $(this)
  if(a){
    window.location.href = $(obj[0]).attr("href")
    return false;
  }else{
    //window.location.href='/course'
    return false;
  }
})
  //end
  $('.class_end').on('click', function(e){
  var a = confirm("此过程不可逆，确定结束？")
  var obj = $(this)
  if(a){
    window.location.href = $(obj[0]).attr("href")
    return false;
  }else{
    //window.location.href='/course'
    return false;
  }
})
//点击li跳转
$('.course_item').on('click', function (e) {
  e.preventDefault()
  var obj = $(this).children("a");
  console.log(obj[0])
  /*获取第一个a标签，进行跳转*/
  window.location.href = $(obj[0]).attr("href");
  //  console.log(obj[0].href)
})
</script>
<script>
  //teacher
$('.course_btn').on('click', function(){
  $('#new_course').modal("show");
})
//student
$('.student_add').on('click', function(e){
  $('#add_course').modal("show");
})
  //创建课程
  $('#course_table').on('click',function(){
    var course_name = $('input[name="course_name"]').val()
    var course_info = $('input[name="course_info"]').val()
    $.ajax({
      url: '/course/new',
      type: 'post',
      data: {
        'course_name': course_name,
        'course_info': course_info
      },
      dataType: 'json',
      success: function(data){
        var err_code = data.err_code
        if(err_code == 0){
          window.alert('创建成功!')
          window.location.replace(window.location.href)
        }else if(err_code === 500){
          window.alert('服务器忙，请稍后重试!')
        }
      }
    })
  })
  //添加课程
  $('#course_addtable').on('click',function(){
    var course_id = $('input[name="course_id"]').val()
    $.ajax({
      url: '/course/add',
      type: 'post',
      data: {'course_id':course_id},
      dataType: 'json',
      success: function(data){
        var err_code = data.err_code
        if(err_code == 0){
          window.alert('添加成功!')
          window.location.replace(window.location.href)
        }else if(err_code == 1){
          var msg = data.message
          window.alert(msg)
        }else if(err_code === 500){
          window.alert('服务器忙，请稍后重试!')
        }
      }
    })
  })
</script>
{{/block}}