{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'科协管理 - 首页'}}{{/block}}
{{block 'head'}}
<style>
  .table, th ,td{
    text-align: center
  }
  /* td>a{
    text-decoration: none;
  } */
</style>
{{/block}}
{{block 'body'}}
<section class="container">
  {{include '../_partials/controllers-nav.html'}}
  <div class="col-md-7">
    <h4>当前所在的组：</h4> <input id="add_id" style="display: none;"type="text" value="{{user.group_id}}">
    {{if user.group_id == 0}}
    <div>
      <p style="margin-left: 150px;">您当前没有在任何组!</p>
    </div>
    {{else}}
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>组长</th>
          <th>组员1</th>
          <th>组员2</th>
          <th>组员3</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {{each data}}
        <tr>
          <td width="60px;">{{$value[0].id}}</td>
          {{if $value[0].name}}
          <td data-toggle="popover" data-trigger="hover" data-container="body" data-placement="top" data-content="{{'0'+$value[0].num+' - '}}{{$value[0].class}}">{{$value[0].name}}</td>
          {{else}}
          <td></td>
          {{/if}} {{if $value[1].name}}
          <td data-toggle="popover" data-trigger="hover" data-container="body" data-placement="top" data-content="{{'0'+$value[1].num+' - '}}{{$value[1].class}}">{{$value[1].name}}</td>
          {{else}}
          <td></td>
          {{/if}} {{if $value[2].name}}
          <td data-toggle="popover" data-trigger="hover" data-container="body" data-placement="top" data-content="{{'0'+$value[2].num+' - '}}{{$value[2].class}}">{{$value[2].name}}</td>
          {{else}}
          <td></td>
          {{/if}} {{if $value[3].name}}
          <td data-toggle="popover" data-trigger="hover" data-container="body" data-placement="top" data-content="{{'0'+$value[3].num+' - '}}{{$value[3].class}}">{{$value[3].name}}</td>
          {{else}}
          <td></td>
          {{/if}}
          <td>
            <a id="quit" href="javascript:del_btn('/group/quit')">退出该组</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/if}}
    <h4>组员信息：</h4>
    <div class="group">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>组长</th>
            <th>组员1</th>
            <th>组员2</th>
            <th>组员3</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          {{each result }}
          <tr>
            <td width="60px;">{{$value[0].id}}</td>
            <!-- <td>{{$value[0].name}}</td>
            <td>{{$value[1].name}}</td>
            <td>{{$value[2].name}}</td>
            <td>{{$value[3].name}}</td> -->
            {{if $value[0].name}}
            <td data-toggle="popover"data-trigger="hover"data-container="body" data-placement="top" data-content ="{{'0'+$value[0].num+' - '}}{{$value[0].class}}">{{$value[0].name}}</td>
            {{else}}
            <td></td>
            {{/if}}
            {{if $value[1].name}}
            <td data-toggle="popover"data-trigger="hover"data-container="body" data-placement="top" data-content ="{{'0'+$value[1].num+' - '}}{{$value[1].class}}">{{$value[1].name}}</td>
            {{else}}
            <td></td>
            {{/if}}
            {{if $value[2].name}}
            <td data-toggle="popover"data-trigger="hover"data-container="body" data-placement="top" data-content ="{{'0'+$value[2].num+' - '}}{{$value[2].class}}">{{$value[2].name}}</td>
            {{else}}
            <td></td>
            {{/if}}
            {{if $value[3].name}}
            <td data-toggle="popover"data-trigger="hover"data-container="body" data-placement="top" data-content ="{{'0'+$value[3].num+' - '}}{{$value[3].class}}">{{$value[3].name}}</td>
            {{else}}
            <td></td>
            {{/if}}
            {{if $value[3].name}}
            <td><span style="color: red;">该组已满</span></td>
            {{else}}
            <td><a class="add" href="/group/add?id={{$value[0].id}}" return false>加入该组</a></td>
            {{/if}}
          </tr>
          {{ /each}}

          <!-- {{result}}
          {{ each result}}
         
            {{if $value.id == 1 }}
            <td>{{$value.id}}</td>
            <td>{{$value.name}}</td>
            <!-- <td>李四</td>
            <td>王五</td>
            <td>马六</td> -->
            <!-- {{/if}}
       
          {{ /each}} --> 
        </tbody>
      </table>
    </div>
  </div>
</section>
{{/block}}
{{block 'script'}}
<script src="../../public/lib/layer-v3.1.1/layer/layer.js"></script>
<script>
  // $('#example').tooltip(options)
  $(function () {
    $('[data-toggle="popover"]').popover(); // 也可以使用 $('#text').tooltip(); 来启用弹窗
    // $('[data-toggle="popover"]').css('z-index','4')
  });
</script>
<script>
  function del_btn(url) {
    layer.confirm('确定退出？', {
      btn: ['退出', '取消'] //按钮
    }, function () {
      layer.msg('退出成功', { icon: 1 });   //点击删除按钮，页面跳转
      self.location.href = url //发起后台请求
    //  window.location.replace(window.location.href) 
    }, function () {
      layer.msg('取消', {});   // 点击取消按钮，弹出框消失，页面不跳转
    });
  }
  $('.add').on('click', function(e){
    
    var group_id = $('#add_id').val()
    if(group_id == 0){
      alert('添加成功')
    }else{
      window.alert('您现在已在组内，请先退出自己所在的组!')
    }
  })



</script>
{{/block}}